.zzangbox {
    position: relative;
    width : 400px;
    height: 650px;
    background-size: 100% 100%;
    border: 3px black ;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
  }
  
  
  
  .wrong {
    background-color: rgb(255, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 50px;
    display: none;
    text-align: center;
    opacity: 0.5;
    animation-delay: 1s;
    white-space: nowrap;
    justify-content: center;
    margin : auto;
  }
  
  
  
  
  .right {
    background-color: rgb(0, 255, 38);
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 50px;
    display: none;
    text-align: center;
    opacity: 0.5;
    animation-delay: 1s;
    white-space: nowrap;
    justify-content: center;
    margin : auto;
  }
  
  
  
  
  .no {
    background-color: rgb(255, 238, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 120px;
    display: none;
    text-align: center;
    animation-delay: 1s;
  }
  
  
  
  
  .yes {
    background-color: rgb(0, 30, 255);
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 120px;
    display: none;
    text-align: center;
    animation-delay: 1s;
  }
  
  
  
  
  .big_box {
    position: relative;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    }
  

  
  p.sc {
    padding-top: 10%;
    font-size: 50px;
    margin :auto;
    padding: auto;
  }
  
  
  .question {
    width: 80% ;
    height: 30%;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    font-weight: bold;
    }
   

  
  
  
  
  .buttons {
      width:80%;
      background-color: #ffffff;
      margin-left: auto;
      margin-right: auto;
      display: flex;
    }
   
  .button {
    margin:auto;
    background-color:transparent;
    position: relative;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    padding: 25px 5px;
    box-sizing: padding-box;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    }
  
  /* .score {
      padding-top: 3px;
    } */
  
  .button {
    color: rgb(250, 250, 250);
/*     box-shadow: rgb(30, 161, 54); 0 0px 0px 2px inset; */
  }
 
  .button:hover {
    color: rgb(30, 161, 54);
    box-shadow: rgb(30, 161, 54); 0 0px 0px 40px inset;
  }
  
  div.score {
    color: rgba(0, 0, 0, 0.959);
    font-weight: bold;
  }
  
  .start  {
    margin:auto;
    position: relative;
    text-decoration: none;
    text-align: center;
    padding: 17px 10px;
    box-sizing: padding-box;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    border-color: rgb(170, 170, 170);
  }
  
  
  .start:hover {
    width:20%;
    border-radius: 4px;
    border-color: rgba(255, 0, 0, 0.664);
    background-color: #fcfcfc;
  }
  
  








/* .score {
    padding-top: 3px;
  } */








a.button {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}








a.button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
